@define-color selected-text #f0f0f0;
@define-color text #777777; /* darker unselected text for better contrast */
@define-color base #121212;
@define-color border #8a8a8a;
@define-color foreground #777777;
@define-color background #121212;