@define-color selected-text  #e0e0e0;
@define-color text           #c6c6c6;
@define-color base           #1c1c1c;
@define-color border         #8a8a8a;

window {
    background-color: @base;
}

#entry:selected {
    background-color: @gray1;
    color: @fg_bright;
}
